@import './../../index.scss';

.tooltip-wrapper {
  position: relative;
  display: inline-block;

  .icon {
    cursor: pointer;
  }
}

.tooltip {
  position: absolute;
  bottom: 100%; /* Позиция над элементом */
  left: 50%;
  transform: translateX(-50%);
  background-color: $akatsuki-light-black;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;

  a {
    color: #66c0f4;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.tooltip-wrapper:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
