@import './../../index.scss';

.form {
  border-radius: 8px;
  width: 500px;
  height: 650px;
  background-color: white;
  overflow-y: auto;

  @include scrollbars;

  .form-textarea {
    width: 100%;
    height: 100%;
    padding: 12px;
    color: black;
  }
}
