@import './../../index.scss';

@keyframes spinClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.preload-page {
  .wrapper-content {
    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      .preloader {
        .preloader-container {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 16px;

          .preload-text {
            color: white;
          }

          .sharingan {
            animation: spinClockwise 3s linear infinite;
          }
        }
      }
    }
  }
}
