// Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif; // Укажите ваш базовый шрифт
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  border: none;
  outline: none;
  background: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: linear-gradient(90deg, #000000, #202020, #464646, #4c4c4c);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes gradient {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 50% 75%;
  }
  75% {
    background-position: 75% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@mixin scrollbars(
  $size-area: 12px,
  $size-bar: 4px,
  $foreground-color: rgba(200, 203, 213, 1),
  $background-color: transparent
) {
  // для Chrome и Safari
  &::-webkit-scrollbar {
    width: $size-area;
  }
  &::-webkit-scrollbar-thumb {
    border: $size-bar solid $background-color;
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: $foreground-color;
  }
}
