@import './../../index.scss';

.list-wrapper {
  position: relative;

  .count-tracks {
    display: block;
    margin-bottom: 10px;
    padding: 4px;
    padding-left: 8px;
    background-color: white;
    border-radius: 6px;
    color: $akatsuki-black;
  }

  .list-container {
    border-radius: 8px;
    width: 350px;
    height: 450px;
    background-color: white;
    overflow-y: auto;
    padding-left: 4px;

    @include scrollbars;

    .track {
      margin: 2px;
      padding: 2px 5px;
      position: relative;
      overflow: hidden;
      border-radius: 6px;

      background: linear-gradient(45deg, #d1d1d1, #b0b0b0);
      transition: background 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        background: linear-gradient(45deg, #dddddd, #ffffff9e, #d2d2d2);
      }
    }
  }
}
